body {
  background-image: url('img/background.jpg'); 
  font-family: Arial, sans-serif;
  padding: 20px;
  color: #000000;
  text-align: center;
}

#before{
background-image: url('buttons/before.png')
}

#next{
background-image: url('buttons/next.png')
}
#before,
#next {
  width: 48px;
  height: 48px;
  background-size: cover;      /* Makes the image fill the button */
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  margin: 0 10px;
  outline: none;
  color: transparent;          /* Hides any text */
  border-radius: 50%;           /* Makes the button circular */
}

.day {
  background-color: rgba(161, 158, 158, 0.7); /* 0.7 = 70% opaque */
  padding: 10px;
  border-radius: 20px;
  font-size: 2.5em;

}
#calendar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#calendar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

#calendar {
  margin: 0 20px;
}
